# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  e { actionId: SelectInProjectView, description: Open Project Explorer }
  f {
    description: Find...
    bindings {
      a { actionId: GotoAction, description: Go To Action }
      c { actionId: GotoClass, description: Go To Class }
      f { actionId: GotoFile, description: Go To File }
      s { actionId: TextSearchAction, description: Search Text }
      w { actionId: GotoSymbol, description: Go To Symbol }
    }
  }
  F { actionId: SearchEverywhere, description: Search Everywhere }
  g {
    description: Git...
    bindings {
      b { actionId: Git.Branches, description: Show Branches }
      B { actionId: Annotate, description: Blame }
      c {
        description: Changes...
        bindings: {
          c { actionId: Vcs.Show.Local.Changes, description: Show Changes }
          d { actionId: ChangesView.Diff, description: Diff file }
          C { actionId: ChangesView.Commit, description: Commit Changes }
          r { actionId: ChangesView.Revert, description: Revert Changes }
        }
      }
      f { actionId: Git.Fetch, description: Fetch }
      g { actionId: Vcs.QuickListPopupAction, description: QuickList Popup }
      p { actionId: Git.Pull, description: Pull }
      P { actionId: Git.Push, description: Push }
      r { actionId: Git.Rebase, description: Rebase }
      s { actionId: Git.Stash, description: Stash }
      S { actionId: Git.Unstash, description: Unstash }
      l { actionId: Vcs.Show.Log, description: Show Log }
    }
  }
  l {
    description: LSP...
    bindings {
      a { actionId: ShowIntentionActions, description: Code Actions }
      g { actionId: Generate, description: Generate }
      l { actionId: RefactoringMenu, description: Refactor }
      r { actionId: RenameElement, description: Rename }
      u { actionId: ShowUsages, description: Usages }
    }
  }
  o {
    description: Open Tool...
    bindings {
      b { actionId: ActivateBuildToolWindow, description: Build }
      p { actionId: ActivateProjectToolWindow, description: Project }
      r { actionId: ActivateRunToolWindow, description: Run }
      t { actionId: ActivateTerminalToolWindow, description: Terminal }
    }
  }
  r {
    description: Run...
    bindings {
      c { actionId: RunClass, description: Run (Test) Class }
      r { actionId: RunAnything, description: Run Anything }
      s { actionId: ChooseRunConfiguration, description: Choose Run Configuration }
    }
  }
  s {
    description: Split Management...
    bindings {
      h { actionId: SplitHorizontally, description: Split Horizontally }
      v { actionId: SplitVertically, description: Split Vertically }
      x { actionId: CloseAllEditors, description: Close Splits }
    }
  }
  t {
    description: Tab Navigation...
    bindings {
      r { actionId: ReopenClosedTab, description: Reopen Closed Tab }
      x { actionId: CloseEditor, description: Close }
    }
  }
  w {
    description: Window Management...
    bindings {
      h { actionId: HideActiveWindow, description: Hide Active Window }
      H { actionId: HideAllWindows, description: Hide All Windows }
    }
  }
}
